
    <div>
        <a href="/productos">- Ir a Lista - </a>
        <h1>Ingrese Producto:</h1>
        <form action="/productos" method="post">
            <label for="title">Titulo:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="price">Precio:</label><br>
            <input type="text" id="price" name="price"><br>
            <label for="thumbnail">foto URL:</label><br>
            <input type="text" id="thumbnail" name="thumbnail"><br>
            <input type="submit" value="Enviar">
        </form>
        <br>
       
    </div>
