<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <header>
        <a href="/productos">- Ir a Lista - </a>
    </header>
    <div>
        <h1>Ingrese Producto:</h1>
        <form action="/productos" method="post">
            <label for="title">Titulo:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="price">Precio:</label><br>
            <input type="text" id="price" name="price"><br>
            <label for="thumbnail">foto URL:</label><br>
            <input type="text" id="thumbnail" name="thumbnail"><br>
            <input type="submit" value="Enviar">
        </form>
        <br>
       
    </div>
</body>
</html>